*{
    font-family: 'Raleway';

}

a{
    text-decoration: none;
    color: white;
}


.container-geral{
    background-image: url(background-home.png);
    background-size: auto;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao-entrar{
    height: 13vh;
    width: 80vw;
    background-color: #10069F;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
}